@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-italic.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-600.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-700italic.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-700italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-700.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", serif;
  height: 5000px;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(229, 229, 229, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
}

.header-nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.adress-zoo-madical {
  width: 470px;
  text-align: right;
}

.header-tel-links a:hover {
  color: #FFBD54;
}

.header-tel-links a:active {
  color: rgba(51, 51, 51, 0.5);
}

.before-element::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  width: 14px;
  height: 14px;
  background-image: url(../img/mini-home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.tel-pic::before {
  background-image: url(../img/mini-tel.png);
}

.ellips-pic::before {
  width: 5px;
  height: 5px;
  background-image: url(../img/ellipse.png);
}

.header-tel-links a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}

.work-days {
  display: flex;
}

.calendar-pic::before {
  background-image: url(../img/mini-calendar.png);
}

.header-nav-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.5;
}

.list-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 107px;
}

.header-bottom-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fish-pic::before {
  width: 15px;
  height: 15px;
  background-image: url(../img/fish-active.png);
}

.header-bottom-item a {
  padding: 20px;
  color: #333;
  text-decoration: none;
}

.header-bottom-item a:hover {
  background-color: #FFBD54;
}

.header-bottom-item a:active {
  background-color: rgba(255, 189, 84, 0.5);
}

.ask-questions {
  padding: 20px;
  color: #333;
  text-decoration: none;
}

.ask-questions:hover {
  color: #fff;
  background-color: #333;
}

.ask-questions:active {
  opacity: 0.5;
}

.mini-pet::before {
  width: 23px;
  height: 20px;
  background-image: url(../img/mini-pet.png);
}

/* =======care-about-animals======= */

.container-padding {
  padding: 0;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/header-group.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.care-about-animals {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  margin-left: auto;
  margin-right: 50px;
  height: 100%;
  width: 608px;
}

.care-about-animals h1 {
  margin: 0;
  color: #333;
  font-size: 70px;
  line-height: 64px;
}

.care-about-animals .title-color {
  margin-bottom: 29px;
  color: rgb(100, 221, 230, 0.8);
}

.care-about-animals p{
  max-width: 495px;
  margin: 0;
  color: #949494;
  line-height: 21px;
  margin-bottom: 38px;
}

.our-jobs a{
  display: inline-block;
  padding: 16px 48px;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  text-decoration: none;  
}

.our-jobs a:hover {
  color: #333;
  background-color: #ffbd54;
}

.our-jobs a:active {
  opacity: 0.5;
}

/* ===========quote=========== */

.quote-wrapper {
  padding-bottom: 190px;
}

.quote {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.hr-quote {
  width: 140px;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #dbdbdb;
}

.quote-margin-b {
  margin-top: 35px;
  margin-bottom: 35px;
}

.quote-block {
  width: 753px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #949494;
  font-size: 20px;
  line-height: 26px;
}

.quote::before,
.quote::after {
  content: "";
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../img/quote-pic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.quote::after {
  margin-left: auto;
  transform: rotate(180deg);
}

.name-clinic {
  color: #333;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

/* =========slider========= */

.con-slide-wrapper {
  padding-bottom: 235px;
}

.slider-wrapper {
  position: relative;
}

.title-slider {
  margin: 0;
  margin-bottom: 80px;
  color: #333;
  font-size: 48px;
  line-height: 20px;
  text-align: center;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
}

.slider-list li:nth-child(1) {
  margin-left: 0;
}

.slider-list-item {
  min-width: 193px;
  margin: 15px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.slider-list-item a {
  color: #333;
  text-decoration: none;
}

.slider-list-item:hover a{
  color: #FFBD54;
  cursor: pointer;
}

.slider-list-item:active {
  opacity: 0.5;
  cursor: pointer;
}

.slider-list-item::before {
  content: "";
  display: inline-block;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.pic1::before {
  background-image: url(../img/slider-doctor.png);
}

.pic2::before {
  background-image: url(../img/woman-dog.png);
}

.pic3::before {
  background-image: url(../img/dog.png);
}

.pic4::before {
  background-image: url(../img/dog2.png);
}

.pic5::before {
  background-image: url(../img/microskop.png);
}

.pic6::before {
  background-image: url(../img/dog-plus.png);
}

.pic7::before {
  background-image: url(../img/uzi-dog.png);
}

.pic8::before {
  background-image: url(../img/igle.png);
}

.pic9::before {
  background-image: url(../img/colendar.png);
}

.pic10::before {
  background-image: url(../img/igle-bottle.png);
}

.pic11::before {
  background-image: url(../img/dog-teeth.png);
}

.pic12::before {
  background-image: url(../img/box.png);
}

.btn {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  border: none;
  background: none;
}

.btn-right {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  border: none;
  background: none;
}

.slider-item-wrapper {
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px;
  background-color: #fff;
}

.slider-text {
  width: 492px;
  height: 100%;
  margin-left: 58px;
}

.slider-text h3 {
  font-size: 36px;
  line-height: 20px;
}

.slider-text p {
  color: #949494;
  line-height: 20px;
}

.slider-text a {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 25px;
  color: #fff;
  text-decoration: none;
}

.slider-text a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.info-price {
  background-color: #ffdb54;
  margin-right: 24px;
}

.info-price:hover {
  background-color: #333;
}

.info-price:active {
  opacity: 0.5;
}

.info-price::before {
  background-image: url(../img/info-price.png);
}

.writes {
  background-color: #333;
}

.writes:hover {
  background-color: #ffdb54;
}

.writes:active {
  opacity: 0.5;
}

.writes::before {
  background-image: url(../img/writes.png);
}

/* ============subscribe============ */

.subscribe {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 90px 0 90px 0;
  background-image: url(../img/pet-group.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-bg {
  background: none;
  margin-left: 450px;
}

.title-subscribe {
  margin-top: 0;
  margin-bottom: 32px;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.input-subscribe {
  width: 335px;
  padding: 18px;
  margin-right: 21px;
  border: none;
  border-radius: 5px;
}

.container-bg form {
  margin-bottom: 29px;
}

.btn-subscribe {
  display: inline-block;
  padding: 18px 60px;
  border: none;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  
}

.container-bg img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

/* ===========articles=========== */

.articles {
  padding-top: 216px;
}

.articles-title {
  font-size: 48px;
  margin-bottom: 80px;
  color: #333;
  text-align: center;
}

.articles-wrapper-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.articles-item {
  background-color: #fff;
  width: 305px;
  border-radius: 5px;
  overflow: hidden;
}

.item-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}

.date {
  margin: 0;
  text-align: right;
}

.item-middle {
  display: flex;
  width: 620px;
}

.item-middle img {
  height: auto;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
}

.article-link {
  display: inline-block;
  margin-top: auto;
  color: #333;
  text-decoration: none;
}

.article-link:hover {
  color: #ffbd54;
}

.article-link:active {
  opacity: 0.5;
}

.color-blue {
  margin-right: 2px;
  color: #3D9CEA;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

.before-element::before{
  background-image: url(../img/mini-home.png);
  }

.tel-pic::before {
  background-image: url(../img/mini-tel.png);
  }

  .ellips-pic::before {
  background-image: url(../img/ellipse.png);
  }

  .calendar-pic::before {
  background-image: url(../img/mini-calendar.png);
  }

  .fish-pic::before {
  background-image: url(../img/fish-active.png);
  }

  .mini-pet::before {
  background-image: url(../img/mini-pet.png);
  }

  .container-padding{
  background-image: url(../img/header-group.png);
  }

  .quote::before,
  .quote::after {
  background-image: url(../img/quote-pic.png);
  }

  .pic1::before {
  background-image: url(../img/slider-doctor.png);
  }

  .pic2::before {
  background-image: url(../img/woman-dog.png);
  }

  .pic3::before {
  background-image: url(../img/dog.png);
  }

  .pic4::before {
  background-image: url(../img/dog2.png);
  }

  .pic5::before {
  background-image: url(../img/microskop.png);
  }

  .pic6::before {
  background-image: url(../img/dog-plus.png);
  }

  .pic7::before {
  background-image: url(../img/uzi-dog.png);
  }

  .pic8::before {
  background-image: url(../img/igle.png);
  }

  .pic9::before {
  background-image: url(../img/colendar.png);
  }

  .pic10::before {
  background-image: url(../img/igle-bottle.png);
  }

  .pic11::before {
  background-image: url(../img/dog-teeth.png);
  }

  .pic12::before {
  background-image: url(../img/box.png);
  }

  .info-price::before {
  background-image: url(../img/info-price.png);
  }

  .writes::before {
  background-image: url(../img/writes.png);
  }

  .sign-up {
  background-image: url(../img/bg-dog.png);
  }
}